package currency

var currencyByAlphabeticCode = map[string]ISO{
{{- range .Alphabetic}}
	"{{.AlphabeticCode}}": {AlphabeticCode: "{{.AlphabeticCode}}", NumericCode: numericCode{Value: {{.NumericCode}}}, MinorUnits: minorUnits{Value: {{.MinorUnitsI}}, Valid: {{.Valid}}}, Name: "{{.Name}}", CountryNames: {{.CountryName}}},{{end}}
}

var alphabeticCodeByNumericCode = map[uint]string{
{{- range .Numeric}}
	{{.NumericCode}}: "{{.AlphabeticCode}}",{{end}}
}
