package currency

var currencyByAlphabeticCode = map[alphabeticCode]currency{
{{- range .Alphabetic}}
	{{.AlphabeticCode}}: {AlphabeticCode: "{{.AlphabeticCode}}", NumericCode: {{.NumericCode}}, MinorUnits: minorUnits{value: {{.MinorUnits.Value}}, applicable: {{.MinorUnits.Applicable}}}, Name: "{{.Name}}", CountryNames: {{.CountryName}}},{{end}}
}

var alphabeticCodeByNumericCode = map[uint16]alphabeticCode{
{{- range .Numeric}}
	{{.NumericCode}}: {{.AlphabeticCode}},{{end}}
}
