package currency

var currencyByAlphabeticCode = map[alphabeticCode]Currency{
{{- range .Alphabetic}}
	{{.AlphabeticCode}}: {AlphabeticCode: "{{.AlphabeticCode}}", NumericCode: "{{.NumericCode}}", MinorUnits: MinorUnits{value: {{.MinorUnits.Value}}, applicable: {{.MinorUnits.Applicable}}}, Name: "{{.Name}}", CountryNames: {{.CountryName}}},{{end}}
}

var alphabeticCodeByNumericCode = map[string]alphabeticCode{
{{- range .Numeric}}
	"{{.NumericCode}}": {{.AlphabeticCode}},{{end}}
}
